* {
    color: #ccc;
}

body {
    background-color: rgb(87, 87, 87);
}

nav {
    background-color: rgb(43, 43, 43);
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #ccc;
}

.navbar-brand {
    color: #ccc;
}

.back-link a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(74, 74, 74);
}